<div>
	<a href="https://www.codeproject.com/Articles/806029/Getting-started-with-AngularJS-and-ASP-NET-MVC-Par">Tutorial</a>
</div>
<input type="text" ng-model="models.helloAngular" />
<h1>{{models.helloAngular}}</h1>

<ul>
	<li><a href="/#/routeOne">Route One</a></li>
	<li><a href="/#/routeTwo/6">Route Two</a></li>
	<li><a href="/#/routeThree">Route Three</a></li>
</ul>
<ul>
	<li><a href="/#/login">Login</a></li>
	<li><a href="/#/register">Register</a></li>
</ul>

<div ng-view></div>


